.padre{
    text-align: center;
    background-color: rgb(132, 0, 255);
}
button{
    background-color: rgb(192, 245, 0);
    height: 40px;
    width: 200px;
    font-size: x-large;
}
.imagenes{

}
#dos{
    position: absolute;
    top: 60px;
    left: 600px;
}
#tres{
    position: absolute;
    top: 70px;
    left: 1020px;
}
#cuatro{
    position: absolute;
    top: 110px;
    left: 560px;
    color: antiquewhite;
    h1{
        height: 50px; width: 50px;
    }
    
}
#cinco{
    position: absolute;
    top: 110px;
    left: 950px;
    color: antiquewhite;
    h1{
        height: 80px; width: 70px;
        
    }
}
a{
    font-size: x-large;
    color: antiquewhite;
    margin: 5px;
    text-decoration: none;
}
.borde{
    border: 2px solid white;
    border-radius: 999px;
}
.colordiseño{
    color: rgb(255, 255, 255);
    border: 1px solid white;
    width: 20%;
    margin-left: 675px;
}
.boton{
    height: 40px;
}